html {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)), url(image.jpg);
    background-size: cover;
    background-position: center;
    height: 980px;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    background-color: rgb(86, 161, 190);
    color: white;
    padding: 2px 2px;
    text-decoration: none !important;
    display: inline-block;
    border-radius: 10px;
    font-size: 1.4em;
}

header {
    width: 980px;
    height: 40px;
    margin: 0 0 40px 0;
    padding: 0;
    background: #5b5dcc;
    color: white;
}

header h1 {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

nav {
    width: 980px;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul {
    width: 980px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

#main-menu h2 {
    font-size: 3em;
    color: #FFF;
    text-align: center;
}

ul li {
    list-style: none;
}

#content {
    width: 920px;
    min-height: 500px;
    padding: 0 30px;
}

#content li a {
    margin-bottom: 30px;
}

footer {
    width: 940px;
    height: 20px;
    margin: 0 0 10px 0;
    padding: 10px 20px;
    background: #5b5dcc;
    color: white;
}


/* Actions */

.actions {
    margin-bottom: 1em;
}


/* Lists */

table {
    border-collapse: collapse;
    vertical-align: top;
}

table.list {
    width: 100%;
}

table.list tr td {
    border: 1px solid #999999;
    font-size: 1.4em;
    color: #FFF;
}

table.list tr th {
    border: 1px solid rgb(86, 161, 190);
    background: rgb(86, 161, 190);
    color: white;
    text-align: left;
}


/* Forms */

dl {
    clear: both;
    overflow: hidden;
    margin: 0.5em 0;
}

dt {
    float: left;
    font-weight: bold;
    width: 125px;
}

dd {
    float: left;
    margin-left: 1em;
}

#operations {
    clear: both;
    margin: 1em 0 1em 75px;
}

form input[type=submit] {
    background: rgb(86, 161, 190);
    font-size: 1.4em;
    color: #FFF;
    padding: 10px;
    border-radius: 10px;
}


/* Errors */

.errors {
    display: inline-block;
    border: 2px solid red;
    color: red;
    padding: 1em;
    margin-bottom: 1em;
}

.errors ul {
    margin-bottom: 0;
    padding-left: 1em;
}